// Responsive Breakpoints
$breakpoint-xxs: 256px; //20%
$breakpoint-xs: 384px; //30%
$breakpoint-s: 512px; //40%
$breakpoint-sm: 640px; //50%
$breakpoint-md: 768px; //60%
$breakpoint-lg: 1024px; //80%
$breakpoint-xl: 1280px; //100%
$breakpoint-xxl: 1536px; //120%
